.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  .layout-logo {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 24px 0;
    overflow: hidden
}
.logo-img {
    width: 40px;
    margin-right: 8px;
    vertical-align: top;
}
.logo-text {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    color: #999;
}